.hero {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}

.hero__copy {
  position: relative;
  z-index: 1;
}

.hero__copy h1 {
  color: var(--color-gray-1);
  font-size: 40px;
}

.hero__copy p {
  color: var(--color-gray-4);
  font-size: 14px;
}

@media (min-width: 450px) {
  .hero__copy p {
    font-size: 16px;
  }
}

.hero__copy h1,
.hero__copy p {
  margin-bottom: 25px;
}

.hero__cta {
  margin-bottom: 40px;
}

.hero__figure {
  position: relative;
}

@media (max-width: 767px) {
  .hero__figure svg {
    width: 100%;
    height: auto;
  }
}

.hero__figure::before,
.hero__figure::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  animation: fadein 2s forwards;
}

/* styles for boxes */
.hero__box {
  position: absolute;
  top: 0;
  will-change: transform;
}

.hero__box--01,
.hero__box--02,
.hero__box--03,
.hero__box--04,
.hero__box--08,
.hero__box--09 {
  opacity: 0;
  overflow: hidden;
}

.hero__box--01::before,
.hero__box--02::before,
.hero__box--03::before,
.hero__box--04::before,
.hero__box--08::before,
.hero__box--09::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 100% 100%;
}

.hero__box--01 {
  left: 82%;
  top: 41.9%;
  width: 28.03%;
  height: 37.37%;
  /* background: linear-gradient(to left top, #ffffff, rgba(0, 0, 0, 0)); */
  /* Add Background Image */
  background-image: url("../Content/Assets/favicon.png");
  /* Add the Blurr Effect to background image */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: -14px 32px 64px rgba(0, 0, 0, 0.25);
  transform: rotateZ(45deg);
  border-radius: 5px;
}

.hero__box--02 {
  left: 43%;
  top: 64.1%;
  width: 37.87%;
  height: 50.5%;
  /* Add Background Image */
  background-image: url("../Content/Assets/Hero2.jpg");
  /* Add the Blurr Effect to background image */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: -20px 22px 64px rgba(0, 0, 0, 0.25);
  transform: rotateZ(-45deg);
  border-radius: 5px;
}

.hero__box--05,
.hero__box--07 {
  /* background-color: #ffffff; */
  box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.hero__box--05 {
  left: 0;
  top: 13.3%;
  width: 64%;
  height: 73.7%;
  /* Add Background Image */
  background-image: url("../Content/Assets/Hero1.jpg");
  /* Add the Blurr Effect to background image */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Rotate the div */
  transform: scale(0) perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg);
}

.hero__box--06 {
  left: 45.5%;
  top: 6.3%;
  width: 30.3%;
  height: 40.4%;
  /* Add Background Image */
  background-image: url("../Content/Assets/Hero3.jpeg");
  /* Add the Blurr Effect to background image */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0) rotateZ(20deg);
  box-shadow: -15px 12px 64px rgba(0, 0, 0, 0.25);
}

.hero__box--07 {
  left: -12%;
  top: 42.4%;
  width: 12.12%;
  height: 16.16%;
  transform: scale(0) rotateZ(20deg);
  /* Add Background Image */
  background-image: url("../Content/Assets/Hero4.jpeg");
  /* Add the Blurr Effect to background image */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__box--10 {
  left: -6.8%;
  top: 4.3%;
  width: 3.03%;
  height: 4.04%;
  background: #ffffff;
  box-shadow: -20px 32px 4px rgba(0, 0, 0, 0.25);
  transform: rotateZ(-50deg);
  opacity: 0;
}

/* mobile specific styles */
@media (max-width: 576px) {
  .hero__cta {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__cta a {
    display: flex;
  }

  .hero__cta a+a {
    margin-top: 16px;
  }

  .hero__figure::after,
  .hero__box--03,
  .hero__box--04,
  .hero__box--09 {
    display: none;
  }
}

/* desktop specific styles */
@media (min-width: 1024px) {
  .hero {
    text-align: left;
    padding-top: 64px;
    padding-bottom: 88px;
    display: grid;
    place-content: center;
  }

  .hero__inner {
    /* split hero in half */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (min-width: 600px) {
    .hero__inner {
      width: 80%;
    }
  }

  .hero__copy {
    padding-right: 80px;
    min-width: 560px;
    width: 560px;
  }

  .hero__copy h1 {
    font-size: 44px;
    letter-spacing: 0px;
  }

  .hero__copy h1 span {
    animation: wave 4s infinite;
    display: inline-block;
  }

  .hero__copy p {
    font-size: 18px;
  }

  .hero__cta {
    margin: 0;
  }

  .hero__cta .btn {
    min-width: 170px;
  }

  .hero__cta .btn:first-child {
    margin-right: 16px;
  }

  .hero__figure svg {
    height: 100%;
  }
}

/* Animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-10deg);
  }

  10% {
    transform: rotate(12deg);
  }

  15% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(9deg);
  }

  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}