.post {
  width: 90%;
  margin: auto;
}

.post h2 {
  color: var(--color-gray-1);
}

.post hr {
  border: 1px solid var(--outline-color);
}

.post small {
  color: var(--color-gray-1);
  font-size: inherit !important;
}

/* Div containing the whole content of the markdown */

.markdown_container {
  width: 100% !important;
  color: var(--color-gray-1);
  font-size: 1.1rem !important;
}

/* Code Blocks */
.markdown_container pre {
  overflow: auto;
  border: 2px solid var(--outline-color);
  border-radius: 5px;
  padding: 5px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.markdown_container pre::-webkit-scrollbar {
  display: none;
}

/* a tags */
a {
  color: var(--color-gray-4) !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}
