.skills {
  text-align: center;
  font-family: "IBM Plex Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills_title {
  color: var(--color-gray-1);
  /* margin-bottom: 50px; */
}

.skills_centered {
  width: 80%;
  margin: 0px auto 50px auto;
}
/* mobile specific styles */
@media (max-width: 767px) {
  .skills_centered {
    width: 100%;
  }
}
.skill {
  width: 100%;
  margin: 2rem 0.2rem;
}
.skillText {
  margin: auto;
  width: 95%;
  height: 40px;
}
.skillIcon {
  width: 35px;
  height: 100%;
  float: left;
}
.skillName {
  width: calc(100% - 70px);
  height: 100%;
  float: left;
  font-size: 1.17em;
  color: var(--color-gray-1);
}
.skillIcon img {
  height: 30px;
  width: 30px;
}

.skillPercent {
  float: right;
  width: 35px;
  height: 100%;
  font-size: 14px;
  color: var(--color-gray-1);
}
